#nav1 {
    background-color:rgb(202, 243, 255);
}

.MC {
    background-color: #f1f1f1;
}

#tite {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
}

#pp-claro {
    background-color: rgb(202, 243, 255);
}

#pp-oscuro {
    background-color: #101084;
}
/**
* SELECTORES
* SABER COMO FUNCIONA LA CASCADA
* ESPECIFICIDAD 
*/
body>main > div >#barra{
    background-color: rgb(202, 243, 255)!important;
    height: 100%;
}

.nav-pills .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

body {
    overflow-x: hidden;
    background-color: #cfcfcf;
    height: 100vh;
}

.fondo-azul-claro {
    background-color: rgb(202, 243, 255) !important;
}

#rosa {
    text-align: center;
    color:#101084;
}

#tabla {
    background-color:rgb(202, 243, 255);
}


.piepag {
    color: white;
}

.prieba {
    background-color: rgb(202, 243, 255);
}

.btn btn-primary {
    justify-content: center;
}

#verde {
    text-align: center;
    color: #101084;
}

#section3{
    background-color: #101084;
    color:white;
    margin:0px;
}
main{
    margin-top: 100px;
    height: auto;
    background-color: #f1f1f1;
    position: fixed;
}
main > div > section {
    padding: 15px;
}
header, footer{
    height: 100px;
    position: fixed;
}
footer{
    height: auto;
    bottom:0;
    background-color: rgb(202, 243, 255);
}
header{
    top:0;
}